{% extends "base.html" %}
{% block body_block %}
    <h1 class="mx-5 py-3 d-inline">여기는 인덱스 페이지 입니다.</h1>
    <h4 class="alert-dange d-inliner";>이거는 어디로 갈까?</h4>
    <h4 class="border rounded-pill d-inline";>이거는 어디로 갈까?</h4>
    <a href-"" class=" btn btn-danger">위험해</a>
    <a href-"" class=" btn btn-danger d-block">위험해</a>
    <div class="bg-danger m-3 position-relative" style="width:100px; height:100px;">
        <div class="bg-primary m-3 position-relative" style="width:100px; height:100px;"> </div>
        
    </div>
    
{% endblock %}